*{
    margin:0;
    padding: 0;
}

#container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

#calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    background-color: red;
    width: 25rem;
    height: 35rem;
    padding: 1rem;
    gap: 1rem;
}

#screen{
    width: 100%;
    margin-top: .5rem;
    height: 10rem;
    background-color: darkgrey;
    border: 1px solid blue;
}

#calculator-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    gap: .5rem;
}

button{
    padding: 1.75rem;
    font-size: 24pt;
}